.hero {
  background-image: url("/images/Frame.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }
  &__image {
    background-image: url("https://hathu0610.github.io/asm2-team3/images/hero-img.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 17.5rem;
    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      min-height: 41rem;
      background-image: url("https://hathu0610.github.io/asm2-team3/images/hero-img.svg");
      background-position: left center;
    }
  }

  &__text {
    color: $DarkBlue;
    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }
    text-align: center;
    justify-content: center;
  }

  &__cta {
    font-size: $font-med;
    transition: opacity 300ms ease-in-out;
    border-color: $DarkBlue;
    border-style: solid;
    border-width: 1.5px;
    &:hover {
      opacity: 0.75;
    }
  }
}
