.hero {
  background-color: $Purple;
  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }
  &__image {
    background-image: url("https://raw.githubusercontent.com/hathu0610/asm2-team3/62ced7486a2ee034033e9dbbd45d0844f746c566/images/hero-img.svg?token=AJW4WTYFSSQ2STMLKJMC5FTBUUDAG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 17.5rem;
    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      min-height: 41rem;
      background-image: url("https://raw.githubusercontent.com/hathu0610/asm2-team3/62ced7486a2ee034033e9dbbd45d0844f746c566/images/hero-img.svg?token=AJW4WTYFSSQ2STMLKJMC5FTBUUDAG");
      background-position: left center;
    }
  }

  &__text {
    color: $White;
    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }
    text-align: center;
    justify-content: center;
  }

  &__cta {
    font-size: $font-med;
    transition: opacity 300ms ease-in-out;
    border-color: white;
    border-style: solid;
    border-width: 1.5px;
    &:hover {
      opacity: 0.75;
    }
  }
}
